.login-form{
    background-color: $clr7;
    color:$clr6;
    text-align: center;
    display: flex;
    flex-direction: column;

    div{
       
        width: 100%;

    }
  

     input{
        background-color: $clr7;
        color:$clr6;
        border: $clr6;


    }
}