.login-form {
    background-color: $clr9;
    color: $clr6;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: 10em;
    align-items: flex-start;
    padding-top: 20%;
    padding-left: 30%;
    padding-right: 30%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: light;

    label {
        font-size: 0.825rem;
        margin-top: 0.5em;
        width: 100%;



        span {
            font-weight: bold;
        }
    }

    input {
        background-color: $clr7;
        color: $clr4;
        border: 1px solid $clr6;
        width: 18rem;
        padding: 1rem;
        margin-bottom: 0.2em;
        border-radius: 0.2em;

        font-size: 1rem;

    }

    input::placeholder {
        text-align: start;
        color: $clr4;
        padding: 0.5em;


    }



    .submit {
        background-color: $clr1;
        margin-bottom: 1em;
        font-size: 1rem;
        padding: 1rem;
        border-radius: 3rem;
        font-weight: bold;
        color: $clr9;
        margin-top: 1.5em;
        width: 15rem;

    }

    button:hover {
        color: $clr5;

    }
}

.user-form {
    grid-column: 3/4;
    display: flex;
    justify-content: end;

    :hover {
        cursor: pointer;
    }

    .user-modal {
        margin-top: 2rem;
        padding: 0;

    }

    .user-modal li {

        padding: 1rem;
        width: 9rem;
        box-shadow: inset $clr5;
        font-size: 0.9rem;
        text-align: center;
    }


    span {
        display: flex;
        align-items: center;
    }

    button {
        background-color: inherit;
    }

    button:hover {
        color: $clr5;
        text-decoration: underline;
    }

    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $clr4;
    }
}

.login-page {
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: center;

    button {
        width: 15rem;

        background-color: $clr7;
    }

    button:hover {
        color: $clr5;
        text-decoration: underline;
    }

}



button {
    background-color: $clr7;

    button:hover {
        color: $clr5;
        text-decoration: underline;
    }




}