.login-form{
    background-color: $clr7;
    color:$clr6;
    text-align: center;
    display: flex;
    flex-direction: column;

    

     input{
        background-color: $clr7;
        text-align: left;
        color:$clr4;
        border: 1px solid $clr6;
        width: 15em;
        padding: 0.5em;
        margin-bottom: 0.5em;
    }

    input::placeholder {
        text-align: start;
        color:$clr4;
        padding: 0.5em;


    }

    .gender{
        display: flex;
        align-items: center;
        
    }

    button{
        color: $clr7;
        margin-bottom: 1em;
        font-size: 0.8em;
        padding: 0.7em;
        border-radius: 1em;
    }

    button:hover{
        color: $clr5;
       
    }
}