.ganeres-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5rem;
    padding: 0;
    overflow: hidden;

}




.ganeres-list h1 {

    font-weight: bolder;

}

.ganeres-list li {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    height: 150px;
    width: 100%;
    border-radius: 0.3em;
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: bolder;
    overflow: hidden;

    img {
        width: 7rem;
        height: 7rem;
        transform: rotate(25deg) translate(30%, -2%);
        place-self: end;
        overflow: hidden;
    }

}

.ganeres-list li:hover {
    opacity: 70%;
    cursor: pointer;
}



.main-img {
    grid-column: 1;
    width: auto;
    height: 30vh;
}

.result-card {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.result {
    display: flex;
    position: relative;

    .img-play-con {
        position: relative;
        width: inherit;
        height: inherit;


        button {
            position: relative;
            width: inherit;
            height: inherit;
            background: none;
            background-color: transparent;
            z-index: 2;
            // opacity: 0;
            padding-right: 4rem;

            // &:hover {
            //     opacity: 1;
            // }

            svg {
                width: 4rem;
                height: 4rem;
            }
        }
    }


    height: 6rem;
    width: 100%;
    align-items: center;


    img {
        position: relative;
        width: 6rem;
        height: 100%;

    }

}

div .result:hover {
    cursor: pointer;
    background-color: $clr11;
    opacity: 60%;
}

.search-play-button {
    position: absolute;
    background-color: $clr4;
    height: 2em;
    width: 2em;
    padding: 0.2em;
    left: 2.5rem;
    top: 35%;
    border-radius: 50%;
    opacity: 0;
}

:hover {
    opacity: 1;
}

.search-play-button .icon-16 {
    position: absolute;
    height: 2em;
    width: 2em;
    top: 0;
    left: 0;
    font-size: 1em;
    padding: 0.5em;

}