.station-details {
    grid-area: main;
    font-family: Monstserrat !important;
    height: 100% !important;

}

.station-details>* {
    margin: 0;
}

.station-details header {
    display: flex;

}

.station-details header img {
    width: 13rem;
    height: 13rem;
    border-radius: .2rem;
}

.station-header-info {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.station-header-info h2 {
    font-size: .7rem;
    margin-bottom: 1rem;
}

.station-header-info h3 {
    font-size: 4.0rem;
}

.station-header-file-details {
    display: flex;
}

.station-header-file-details img {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.station-details-control {
    display: flex;
    height: 6rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.details-play img {
    width: 1.2rem;
    height: 1.2rem;

}

.details-play {
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 3rem;
    width: 3rem;
    align-self: center;
}

.details-liked {
    background-color: inherit;
    width: 3rem;
    height: 3rem;

}

.details-liked img {
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);
}

.details-dots {
    background-color: inherit;
    width: 3rem;
    height: 3rem;
}

.details-dots img {
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);

}

.details-sort {
    background: none;
}

.details-sort img {
    width: 1rem;
    height: 1rem;
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);
}

.list-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-self: flex-end;
    height: 2rem;

}


.station-details-list {
    display: grid;
    grid-template-columns: 1rem 40% 20% 20% 20%;
    font-size: .8rem;
    height: 2rem;
    align-items: center;
}

.station-details-list button {
    background-color: inherit;
}

.station-details-list img {
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);
}

.details-list-control {
    display: flex;
    align-items: center;
}

.details-list-control p {
    margin: 0;
}

