.station-details {
    grid-area: main;
    font-family: Monstserrat;
}

.station-details>* {
    margin: 0;
}

.station-details header {
    display: flex;

}

.station-details header img {
    width: 13rem;
    height: 13rem;
    border-radius: .2rem;
}

.station-header-info {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.station-header-info h2 {
    font-size: .7rem;
    margin-bottom: 1rem;
}

.station-header-info h3 {
    font-size: 4.0rem;
}

.station-header-file-details {
    display: flex;
}

.station-header-file-details img {
    width: 1.5em !important;
    height: 1.5em !important;
}

.station-details-control {
    display: flex;
    height: 6rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.station-details-control-left img {
    width: 2rem;
    height: 2rem;
}

.details-play img {
    width: 1.2rem;
    height: 1.2rem;

}

.details-play {
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 3rem;
    width: 3rem;
    align-self: center;
}

.details-liked {
    background-color: inherit;
    width: 3rem;
    height: 3rem;

}

.details-liked img {
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);
}

.details-dots {
    background-color: inherit;
    width: 3rem;
    height: 3rem;
}

.details-dots img {
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);

}

.details-sort {
    background: none;
}

.details-sort img {
    width: 1rem;
    height: 1rem;
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);
}








.song-list {
    width: 100%; // Ensure the table fills the container
    table-layout: fixed; // Use fixed layout to control column widths

    th,
    td {
        overflow: hidden; // Prevent content from spilling out
        text-overflow: ellipsis; // Add ellipsis to overflowing text
        white-space: nowrap; // Keep the content on a single line
        text-align: start;
    }

    th:last-child,
    td:last-child {
        text-align: center; // Center-align the content of the last cell
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: var(--tracklist-index-column-width, 16px);
    }

    th:nth-child(2),
    td:nth-child(2) {
        min-width: 120px;
        width: var(--col1, 6fr);
    }

    th:nth-child(3),
    td:nth-child(3) {
        min-width: 120px;
        width: var(--col2, 4fr);
    }

    th:nth-child(4),
    td:nth-child(4) {
        min-width: 120px;
        width: var(--col3, 3fr);
    }

    th:nth-child(5),
    td:nth-child(5) {
        min-width: 120px;
        width: var(--col4, 1fr);
    }
}

// .song-list {
//     th:nth-child(1) {
//         width: 16px;
//     }

//     // Column for #
//     th:nth-child(2) {
//         width: calc(6fr);
//     }

//     // Column for Title
//     th:nth-child(3) {
//         width: calc(4fr);
//     }

//     // Column for Artist
//     th:nth-child(4) {
//         width: calc(3fr);
//     }

//     // Column for Album
//     th:nth-child(5) {
//         width: calc(1fr);
//     }

//     // Column for Clock Icon
// }

.station-details-list {
    font-size: 0.8rem;
    font-weight: 200;
    height: 2rem;
    align-items: center;
    justify-content: center;

    width: 100%;
}



.station-details-list button {
    background-color: inherit;
}

.station-details-list img {
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);
}

.details-list-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-list-control p {
    margin: 0;
}




// .list-header {
//     display: grid;
//     // grid-template-columns: 1rem 1rem 1rem 1rem;
//     // grid-template-columns: repeat(4, 1fr);
//     grid-template-columns: 16px 6fr 4fr 3fr 1fr;
//     grid-column-gap: 16px;
//     height: 2rem;
//     align-items: center;


// }

// // .list-header {
// //     display: flex;
// //     justify-content: space-between;
// //     width: 100%;
// //     justify-self: flex-end;
// //     height: 2rem;

// // }



// .station-details-list {
//     display: grid;
//     // grid-template-columns: 1rem 40% 20% 20% 20%;
//     grid-template-columns: 16px 6fr 4fr 3fr 1fr;
//     grid-column-gap: 16px;

//     font-size: .8rem;
//     font-weight: 200;
//     height: 2rem;
//     align-items: center;
// }

// // .station-details-list {
// //     display: grid;
// //     grid-template-columns: 1rem 40% 20% 20% 20%;
// //     font-size: .8rem;
// //     height: 2rem;
// //     align-items: center;
// // }

// .station-details-list button {
//     background-color: inherit;
// }

// .station-details-list img {
//     filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);
// }

// .details-list-control {
//     display: flex;
//     align-items: center;
// }

// .details-list-control p {
//     margin: 0;
// }