.station-details {
    grid-area: main;
    font-family: Monstserrat;
}

.station-details>* {
    margin: 0;
}

.station-details header {
    display: flex;

}

.station-details header img {
    width: 13rem;
    height: 13rem;
    border-radius: .2rem;
}

.station-header-info {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.station-header-info h2 {
    font-size: .7rem;
    margin-bottom: 1rem;
}

.station-header-info h3 {
    font-size: 4.0rem;
}

.station-header-file-details {
    display: flex;
}

.station-header-file-details img {
    width: 1.5em !important;
    height: 1.5em !important;
}

.station-details-control {
    padding: 1.5rem;
    display: flex;
    height: 6rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}


.station-details-control-left {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    gap: .5rem;

    .play-button {
        background-color: #1db954;
        position: relative;
        color: white;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        display: block;
        opacity: 1;

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .like {
        svg {
            max-width: 2rem;
            max-height: 2rem;
            min-width: 1.5rem;
            min-height: 1.5rem;
        }
    }
}

.details-liked {
    background-color: inherit;
    width: 3rem;
    height: 3rem;

}

.details-liked img {
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);
}

.details-dots {
    background-color: inherit;
    width: 3rem;
    height: 3rem;
}

.details-dots img {
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);

}

.details-sort {
    background: none;
}

.details-sort img {
    width: 1rem;
    height: 1rem;
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);
}








.song-list {
    grid-template-columns: auto 6fr 4fr 3fr 1fr;
    padding: 0 16px;
}

.list-header {

    // padding: 0 16px;

    font-size: 0.8rem;
    align-items: center;

    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
}

.list-header::after {
    content: '';
    display: block;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    width: 100%;
    grid-column: 1 / -1;
}

// .bottom-border{
//     border-bottom: 1px solid hsla(0, 0%, 100%, .1);
//     width: 100%;
// }

.station-details-list {
    font-size: 0.8rem;
    align-items: center;

    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
}


.station-details-list button {
    background-color: inherit;
}

.station-details-list img {
    filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);
}

.details-list-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-list-control p {
    margin: 0;
}