* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {

    font-family: montserrat;
    line-height: 1.6;
    color: $clr6;
}

body {
    background-color: $clr9;
    font-size: rem(16px);
    margin: 0;
    // max-width: 1024px;
    // max-width: 100%;

    // margin: auto;
    font-family: 'Montserrat', sans-serif; // CHANGE TO CORRECT FONT FAMILY CLOSEST TO SPOTIFY

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0.6em;
    line-height: 1;
}


section,
main,
footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}