.main-container {
    display: grid;
    grid-template-columns: minmax(280px, auto) minmax(400px, auto) 0;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "left-sidebar header extra"
        "left-sidebar main extra"
        "player player player";
    gap: $panel-gap;
    height: 100vh;
    overflow: hidden;

    &.expanded {
        grid-template-columns: $sidebar-width 1fr $expanded-sidebar-width; // Adjusted
        grid-template-areas:
            "left-sidebar header extra"
            "left-sidebar main extra"
            "player player player";
    }
}

.main-content {
    grid-area: main;
    overflow-y: auto;

}

.search-page{
    grid-area: main; 
}

.login-form{
    grid-area: main; 
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}