.main-container {
    // padding: 8px 8px 0 8px;
    padding: $panel-gap;

    display: grid;
    grid-template-columns: minmax(280px, auto) minmax(400px, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "left-sidebar main"
        "player player";
    gap: $panel-gap;
    height: 100vh;
    overflow: hidden;

    ::-webkit-scrollbar {
        display: none;
    }

    &.expanded {
        grid-template-columns: $sidebar-width 1fr $expanded-sidebar-width; // Adjusted
        grid-template-areas:
            "left-sidebar main right-sidebar"
            "player player player";
    }
}

.left-sidebar {
    grid-area: left-sidebar;
    overflow-y: auto;
}

.main-content {
    grid-area: main;
    overflow-y: auto;

}

.right-sidebar {
    grid-area: right-sidebar;
    color: pink;
}


.search-page {
    grid-area: main;
}

.login-form {
    grid-area: main;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}