// Colors
$clr1: rgb(82, 212, 82);
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #b3b3b3;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #121212;
$clr8: #222;
$clr9: #000;
$clr10: #282828;
$clr11: #3E3E3E;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Gaps

$panel-gap: 8px;