.app-footer {
  z-index: 10000;
  grid-area: player;
  background-color: #000;
  display: grid;
  min-width: 16rem;
  grid-template-columns: minmax(227px, 30%) minmax(313px, 40%) minmax(235px, 30%);
  grid-template-rows: 72px;
  justify-content: space-between;
  justify-items: center;
  align-self: end;
  align-items: center;
  height: 72px;
  max-height: 72px;

  img {
    object-fit: fill;
  }
}



.playing-card {
  width: 100%;
  display: flex;
  height: 56px;
  align-items: center;
  gap: 1.5rem;
  padding-left: $panel-gap;

  .playing-card-info {
    font-family: Montserrat, sans-serif;
    align-self: center;
    height: 32px;
    text-align: left;

  }

  header {
    font-size: 13px;
    font-weight: bold;
    color: aliceblue;

  }

  p {
    opacity: 70%;
    font-size: 12px;
    height: 1rem;
  }

  img {
    width: 56px;
    height: 56px;
    border-radius: 4px;
  }
}




//Audio control

.audio {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  height: 100%;
  justify-content: center;

  .audio-control {
    display: flex;
    align-self: center;
    gap: 1rem;
    align-items: center;
    // height: 2rem;
    margin-bottom: $panel-gap;

    button {
      background-color: inherit;
      width: 2rem;
      height: 2rem;

      svg {
        width: 1rem;
        height: 1rem;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(115%) contrast(94%);
        opacity: 70%;
      }
    }

    :nth-child(3) {
      background-color: white;

      svg {
        opacity: 1;
        padding-top: 10%;
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(115%) contrast(94%);
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  .progress-bar {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    height: 15px;

    .bar {
      border-radius: 2rem;

      .bar-mov {
        border-radius: 2rem;
      }
    }

    p {
      font-size: .6875rem;
      font-weight: 400;
      text-align: right;
      margin-bottom: 0;
      width: 40px;
      height: 15px;
      opacity: 70%;
    }

    .text-left {
      text-align: left !important;
    }
  }

}

.video {
  font-size: 0rem;
}

.rightside-footer {
  display: flex;
  height: 2rem;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  .volume {
    display: flex;
    justify-self: center;

    input {
      width: 100px;
      color: white;
      background-color: white;

      input[type="range"] {
        height: 0.25rem;
        border-radius: 3rem;
      }
    }
  }

  button {
    background-color: inherit;
    width: 2rem;
    height: 2rem;

    svg {
      width: 1rem;
      height: 1rem;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(115%) contrast(94%);
      opacity: 70%;
    }
  }


}

.mobile-player {
  // margin-inline: 1rem;
  grid-area: player;
  display: grid;
  grid-template-rows: auto 1px;
  border-radius: 20px;
  // margin: 2px;
  align-self: center;
  justify-self: center;
  justify-items: center;
  margin-right: 16px;

  width: 95%;

  .playing-card {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 40% 20% 20%;
    gap: 0;
    align-self: center;
    padding-inline: 4px;
    padding-left: 8px;
  }

  .play-button {
    svg {
      width: 1rem;
      height: 1rem;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
  }

  .audio {
    height: 1px;
    width: 100%;
    padding-inline: 16px;
    border-radius: 3px;

    .progress-bar {

      p {
        display: none;
      }
    }
  }
}