.app-header {
    background-color: $clr8;
    color:$clr4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 4.065em;
    width: 100%;
    

  

    


    .page-index button{
        background-color: $clr7;
        border-radius: 50%;
        font-size: 1em;
        color: $clr6;


        
    }
    .header-login {

        .sign-up {
            padding: 1em;
            background-color: $clr8;
            font-weight: bold;
            font-size: 1em;
           
        }

        :hover{
            color:$clr6;
            font-size: 1.1em;

          
        }

        .login{
            background-color: $clr6;
            color:$clr8;
            border-radius: 32px;
            padding: 0.5em;
            font-size: 1em;
         }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

.search-box{
    background-color: $clr11;
    padding: 1em;
    border-radius: 2em;
    width: 120%;
    text-align: start;
   border: none;
}

    .user-info .btn-link {
        color: $clr2;
    }

    nav {
        font-size: .8em;
        background-color: $clr5;
        padding: 5px;

    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}