.app-header>* {

    box-sizing: border-box;
}

.app-header {
    grid-template-areas: header;
    background-color: $clr7;
    color: $clr4;
    // padding: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 4.5rem auto 12rem;
    // justify-content: space-between;
    height: 4.065em;
    width: 100%;
    padding-inline: 1rem;
    border-radius: $panel-gap;


    .page-index {
        display: flex;
        gap: 1rem;
        width: 4.5rem;
        height: 2rem;
        align-self: center;

        button {
            background-color: black;
            border-radius: 1000px;
            padding: 0;
            margin: 0;

        }

        :last-child {
            transform: scaleX(-1);
        }

        img {
            width: 2rem;
            height: 2rem;
            filter: invert(100%) sepia(9%) saturate(7500%) hue-rotate(247deg) brightness(114%) contrast(111%);

        }
    }

    .page-index button {
        // background-color: $clr7;
        // border-radius: 50%;
        // font-size: 1em;
        // color: $clr6;
    }

    .header-login {

        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;

        .sign-up {

            background-color: $clr8;
            font-weight: bold;
            font-size: 1em;

        }

        :hover {
            color: $clr6;
            font-size: 1.1em;

        }

        .login {
            background-color: $clr6;
            color: $clr8;
            border-radius: 32px;
            padding: 0.5em;
            font-size: 1em;
        }

        // img {
        //     width: 32px;
        //     height: 32px;
        //     border-radius: 50%;
        //     object-fit: cover;
        // }
    }


    .search-box {
        background-color: $clr11;
        // padding: 1em;
        border-radius: 2rem;
        width: 19rem;
        // text-align: start;
        border: none;
        // justify-self: start;
        height: 3rem;
        margin-left: 2rem;
        align-self: center;


        form {
            display: flex;
            // padding-top: 5%;
            width: 100%;
            align-items: center;
            height: 100%;
        }

        img {
            width: 1rem;
            height: 1rem;
            filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);

        }

        input {
            background-color: inherit;
            border: none;
            width: 100%;

        }
    }


    // .user-info .btn-link {
    //     color: $clr2;
    // }

    // nav {
    //     font-size: .8em;
    //     background-color: $clr5;
    //     padding: 5px;

    // }

    // nav a:first-child {
    //     margin-right: 30px;
    // }

    // nav a:not(:first-child) {
    //     border-top: 1px solid $clr1;
    //     padding: 0 5px;
    //     margin: 10px;
    // }

    // nav .active {
    //     color: $clr1;
    // }

}