.left-sidebar {

    // position: relative;

    .left-sidebar-header {

        background-color: $clr7;
        padding: 0 12px;
        margin-block-end: $panel-gap;
        border-radius: $panel-gap;



        ul {
            padding: 8px 12px;
            margin: 0;

            li {
                padding: 4px 0;
                font-weight: 700;

                a {
                    gap: 20px;
                    height: 40px;

                    .left-sidebar-home-icon,
                    .left-sidebar-search-icon {
                        filter: invert(100%);
                        margin: 0;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }


    .side-bar-content {
        border-radius: $panel-gap;
        background-color: $clr7;


        ul {
            margin: 0;
            padding: 0;
        }

        li {
            grid-template-columns: 48px auto;
            grid-template-rows: auto;
            column-gap: 12px;
            margin: 8px;

            img {
                border-radius: calc($panel-gap/2);

                grid-row: 1/ span 2;
                height: 48px;
                width: 48px;
            }

            .station-image-left-sidebar {
                background-color: $clr1;
            }

            header,
            div {
                grid-column: 2;
                font-weight: 600;
            }

            p {

                .left-sidebar-pinned-icon {
                    width: 0.8125rem;
                    height: 0.8125rem;
                    margin-inline-end: 8px;
                }

                grid-row: 2;
                font-size: 0.8125rem;
                font-weight: 400;

                .station-type {
                    margin-right: 5px;

                    &::after {
                        content: '\2022';
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
            }

        }

    }
}

.creation-and-toggle {
    justify-content: space-between;

    .left-sidebar-library-icon,
    .left-sidebar-plus-icon,
    .left-sidebar-right-arrow-icon,
    .left-sidebar-left-arrow-icon {
        filter: invert(100%);
        margin: 0;
        width: 24px;
        height: 24px;
    }
}

.your-library {
    margin: 0;
    padding: 12px;
    align-items: center;
    gap: 12px;
}

.right-buttons {
    gap: 8px;
    align-items: center;
    padding: 12px;

    & p {
        margin: 0;
    }
}

.show-create-modal {
    position: absolute;
    z-index: 10;
}

.side-bar-type-filter {
    width: 240px;
    overflow-x: scroll;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    button {
        background-color: $clr9-5;
        font-size: 0.8125rem;
        font-weight: 400;
        color: $clr6;
        border-radius: calc($panel-gap*2);
        // background-color: hsla(0, 0%, 100%, .07), rgba(0, 0, 0, 0.08);
    }

    .left-sidebar-scroll-left-icon,
    .left-sidebar-scroll-right-icon {
        filter: invert(100%);
        margin: 0;
        width: 16px;
        height: 16px;
    }
}

.search-sort-toggle-buttons {
    justify-content: space-between;

    button {
        background-color: transparent;

    }

    .left-sidebar-small-search-icon,
    .left-sidebar-small-filter-icon {
        filter: invert(100%);
        margin: 0;
        width: 16px;
        height: 16px;
    }
}


// Styles for the resizer
.resizer {
    cursor: col-resize;
    width: $panel-gap;
    height: 100%;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}