.playlists-index {

    columns: auto 150px;
    // overflow: hidden;
    // column-gap: 20px;
    width: 100%;
    // white-space: nowrap;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // overflow-y: hidden;
    // overflow-x: hidden;
    height: 300px;

}


// .playlists-index *> {
//     display: flex;
//     // flex: 0 0 200px;
//     // margin-right: 20px;
//     // flex: 1 1 calc(33.33% - 10px);
//     // max-width: calc(33.33% - 10px); 
//     // margin-bottom: 10px; 
//     break-inside: avoid;


// }